{% extends 'base.html' %}

{% block title %}
    <title>login Html</title>
 {% endblock %}


 {% block body_block %}

 <div class='container'>
     <div class='jumbotron'>
            <h1>Login page</h1>
            <form method="POST">
                {% csrf_token %}
                username:  
                <input type="text" name="username" id="username"><br>
                password:  
                <input type="password" name="password" id="password"><br>
                <input type="submit" value="Login" class='btn btn-primary'>
            </form>
     </div>
 </div>
 {% endblock %}